<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Gabarito", sans-serif;
  }
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
    color: #892DE1;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;
}
/* My learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
position: absolute;
background-color: white;
border: solid #b2b2c5 1px;
border-radius: 5px;
width: 200px;
top:150%;
padding: 20px;
right: 0;
display: none;
text-align: center;
}
.mylearning:hover .mylearning__popup{
display: block;
}
.mylearning__button{
padding: 10px;
background-color: white;
border: solid #892DE1 1px;
border-radius: 5px;
margin: 10px;

}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #892DE1;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #892DE1 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #892DE1 1px;
}
.section-image{
    position: relative;
}
.section-image img{
    width: 100%;
}
.section-image__offer{
    width: 35%;
    border: solid #b2b2c5 1px;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    top: 25%;
    left: 3%;
    animation-name: zoom;
    animation-duration: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.course{
    padding: 10px;
}
.course__container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 10px;
}
.course__card{
flex-grow: 1;
flex-basis: 20%;
margin: 5px;
}
.course__card img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;   
}
.topics__container p{
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course__card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
 .navbar__s4{
display: block;
 }
}

=======
*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Gabarito", sans-serif;
  }
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
    color: #892DE1;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;
}
/* My learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
position: absolute;
background-color: white;
border: solid #b2b2c5 1px;
border-radius: 5px;
width: 200px;
top:150%;
padding: 20px;
right: 0;
display: none;
text-align: center;
}
.mylearning:hover .mylearning__popup{
display: block;
}
.mylearning__button{
padding: 10px;
background-color: white;
border: solid #892DE1 1px;
border-radius: 5px;
margin: 10px;

}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #892DE1;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #892DE1 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #892DE1 1px;
}
.section-image{
    position: relative;
}
.section-image img{
    width: 100%;
}
.section-image__offer{
    width: 35%;
    border: solid #b2b2c5 1px;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    top: 25%;
    left: 3%;
    animation-name: zoom;
    animation-duration: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.course{
    padding: 10px;
}
.course__container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 10px;
}
.course__card{
flex-grow: 1;
flex-basis: 20%;
margin: 5px;
}
.course__card img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;   
}
.topics__container p{
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course__card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
 .navbar__s4{
display: block;
 }
}

>>>>>>> 9587c12a2f34f3ef5b7d80a03402b94c30345b2c
